.block-contact {

    .content-bg {
        padding: 15px;
        background-color: #FFF;

        .img-fluid {
            width: 100%;
        }

        .form-text-top {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}